<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>User Created</h1>
  <p>
    Hello <%= @user.name %> your account for Healthcare App is created<br>
    Thank you for using our service!<br>
    
    Regards,<br>
    Healthcare Management
  </p>
</body>
</html>
